---
title: Contact
description: Contact HexR
---
<div class="container">
	<h1 class="center">Contact HexR</h1>
	<p class="flow-text">Have a question? Want to talk? Want a website? Not stated? Feel free to contact us. <small>Currently, we are unable to use the script we normally use to make mail seamless. We apologize for the inconvience.</small> Contact us by clicking <a href="mailto:contact@hexr.org" target="_blank">THIS LINK</a></p>
	<p class="flow-text">Please note we do not have live chat, phone, or mailing addresses since we currently have no sponsors for those services.</p>
</div>